<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Запит відправлено - Вузлик до вузлика</title>
    <meta name="description" content="Ваш запит на замовлення в майстерні Вузлик до вузлика успішно відправлено. Ми зв'яжемося з вами найближчим часом.">
    <meta name="robots" content="noindex">

    <link rel="icon" type="image/png" href="/images/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/images/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="/images/favicon/site.webmanifest" />
    <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>

    <link rel="preload" href="/fonts/roboto-v47-cyrillic_latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/montserrat-v29-cyrillic_latin-700.woff2" as="font" type="font/woff2" crossorigin>

    <link rel="stylesheet" href="/css/common.css"> <link rel="preload" href="/css/confirmation-page.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/css/confirmation-page.css"></noscript>
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" /></noscript>

</head>
<body>
    <%- include('partials/header') %> <main class="confirmation-page">
        <div class="confirmation-icon">
             <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" height="1em">
                 <path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"/>
             </svg>
        </div>
        <h1>Дякуємо! Запит отримано.</h1>
        <p>
            Ваш запит на замовлення успішно відправлено. Ми зв'яжемося з вами найближчим часом
            для уточнення всіх деталей, підтвердження наявності, розрахунку вартості
            (особливо для індивідуальних замовлень) та узгодження зручного способу оплати і доставки.
        </p>
        <a href="/catalog" class="btn btn-primary">Повернутися до каталогу</a>
    </main>

    <%- include('partials/footer') %>

    <script src="/js/main.js" defer></script>
</body>
</html>
